* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'SofiaPro';
  src: url('./assets/fonts/SofiaProRegular.eot');
  src:
    local('Sofia Pro Regular'),
    local('SofiaProRegular'),
    url('./assets/fonts/SofiaProRegular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/SofiaProRegular.woff2') format('woff2'),
    url('./assets/fonts/SofiaProRegular.woff') format('woff'),
    url('./assets/fonts/SofiaProRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SofiaPro';
  src: url('./assets/fonts/SofiaProBold.eot');
  src:
    local('Sofia Pro Bold'),
    local('SofiaProBold'),
    url('./assets/fonts/SofiaProBold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/SofiaProBold.woff2') format('woff2'),
    url('./assets/fonts/SofiaProBold.woff') format('woff'),
    url('./assets/fonts/SofiaProBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
